<li>
    {{#if devoured}}
    {{burger_name}}
    <button class="devoured-it" data-id="{{this.id}}" data-changedevoured="{{devoured}}">Devour it!!</button>
    {{else}}
    {{burger_name}}
    {{/if}}

</li>